footer{
    background-color: rgb(177, 177, 177);
    padding: 1rem 0;
    padding-left: 1rem;
    p{
        font-size: 17px;
    }
    .media__icon{
        margin-right: 2rem;
        a{
            text-decoration: none;
            color: black;
            i{
                font-size: 1.5rem;
                    transition: 0.7s;
                    &:hover{
                        color: $color-logo;
                    }
            }
        }
    }
}