// -----------------------------------------------

// FOOTER HOMEPAGE

footer{
    background-color: $color-nav;
    padding: 1rem 0;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    .footer--mail{
        width: 100%;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
    }
    .media__icon{
        margin-right: 2rem;
        a{
            text-decoration: none;
            color: black;
            i{
                font-size: 1.5rem;
                    transition: 0.7s;
                    &:hover{
                        color: $color-logo;
                    }
            }
        }
    }
}

// -----------------------------------------------