// -----------------------------------------------

// FOOTER HOMEPAGE

footer{
    background-color: $color-nav;
    padding: 1rem 0;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    .footer--mail{
        width: 100%;
        margin-bottom: 1rem;
        text-decoration: none;
        color: black;
    }
    .footer--media{
        width: 100%;
        .media__icon{
            margin: 0 2rem;
            a{
                text-decoration: none;
                color: black;
                i{
                    font-size: 1.5rem;
                        transition: 0.7s;
                        &:hover{
                            color: $color-logo;
                        }
                }
            }
        }
    }
}

// -----------------------------------------------