// -----------------------------------------------
// HOMEPAGE 

.homepage{
    margin: 0 15px;
}
.presentation{
    margin-bottom: 2rem;
    &--title{
        font-size: 25px;
        color: $color-nav;
        margin: 0;
        text-align: center;
        margin-bottom: 2rem;
    }
    &--p{
        margin: 0;
        margin-bottom: 1rem;
        font-size: 17px;
    }
}
.search{
    background-color: #0513AB;
    border-radius: 10px;
    padding: 15px 20px;
    &--title{
        color: white;
        margin: 0;
        font-size: 25px;
    }
    &--p{
        margin: 1.5rem 0;
        color: white;
        font-size: 18px;
    }
    &--detail{
        margin: 0;
        font-size: 17px;
        color: white;
    }
}

// MEDIA QUERIES 

//Tablet
@media screen and (min-width: $width-tablet){
    .homepage{
        margin: 0 4rem;
    }
    .search{
        width: 75%;
        margin: auto;
    }
}

//Laptop
@media screen and (min-width: $width-laptop){
    .presentation--search{
        display: flex;
        margin: 4rem 0;
        .presentation, .search{
            width: 100%;
            margin: 0 2rem;
        }
    }
}

//Desk
@media screen and (min-width: $width-desk){
    .homepage{
        margin: 0 10rem;
    }
}

// -----------------------------------------------
// PORTFOLIO PAGE

.allProjects{
    margin: 0 15px;
}
.projects{
    text-align: center;
    &--info{
        &__title{
            font-size: 30px;
            color: $color-nav;
            margin: 2rem 0;
        }
        &__all{  
            border: 1px transparent black;
            border-radius: 10px;
            background-color: $color-nav;
            padding: 10px;
            font-size: 14px;
            transition: 0.7s;
            text-decoration: none;
            color: white;
            &:hover{
                background-color: $color-hover;
            }
        }
    }
    &--title{
        font-size: 30px;
        color: $color-nav;
        margin: 1rem 0 0;
    }
    &--presentation{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        &__cart{
            width: 100%;
            position: relative;
            &--img{
                width: 100%;
                height: 270px;
                &:hover{
                    transition: 0.5s;
                    transform: scale(1.05);
                }
            }
            &--pages{
                color: green;
                background-color: #99E2D0;
                text-align: center;
                padding: 0.5rem;
                position: absolute;
                bottom: 13rem;
                left: 2rem;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }
}

// MEDIA QUERIES 

//Tablet
@media screen and (min-width: $width-tablet){
    .projects{
        &--presentation{
            &__cart{
                &--img{
                    width: 70%;
                }
                &--pages{
                    left: 9rem;
                }
            }
        }
    }
}

//Laptop
@media screen and (min-width: $width-laptop){
    .projects{
        &--presentation{
            justify-content: center;
            &__cart{
                width: 50%;
                &--img{
                    width: 100%;
                }
                &--pages{
                    left: 2.5rem;
                }
            }
        }
    }
}

//Desk
@media screen and (min-width: $width-desk){
    .allProjects{
        margin: 0 4rem;
    }
    .projects{
        &--presentation{
            &__cart{
                width: 30%;
                &--img{
                    width: 90%;
                }
                &--pages{
                    left: 3rem;
                }
            }
        }
    }
}

//Desk L
@media screen and (min-width: 1441px){
    .projects{
        &--presentation{
            &__cart{
                &--pages{
                    left: 4.5rem;
                }
            }
        }
    }
}

// -----------------------------------------------
// ABOUT PAGE

.allAbout{
    margin: 0 15px;
}
.about{
    text-align: center;
    margin: 2rem 0;
    &--picture{
        width: 95%;
        height: 340px;
        margin: auto;
        &__profile{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}
.experiences, .degree, .skills{
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    margin: 1rem 0;
    padding: 10px;
    h2{
        color: rgb(92, 92, 92);
    }
    &--oc, &--ufcv, &--psy{
        width: 100%;
        &__title{
            margin: 0;
        }
        &__img{
            width: 215px;
        }
        &__date{
            margin: 0;
            font-size: 12px;
        }
        &__txt{
            margin: 1rem 0 2rem;
            font-style: italic;
            font-size: 15px;
        }
    }
    &--ufcv__img{
        width: 95px;
        height: 75px;
    }
}

// MEDIA QUERIES 

//Tablet
@media screen and (min-width: $width-tablet){
    .allAbout{
        margin: 0 2rem;
    }
    .about{
        &--picture{
            &__profile{
                width: 340px;
            }
        }
    }
    .experiences, .degree, .skills{
        &--oc, &--ufcv, &--psy{
            &__img{
                width: 175px;
            }
        }
        &--ufcv__img{
            width: 100px;
        }
    }
}

//Laptop
@media screen and (min-width: $width-laptop){
    .experiences--degree--skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .experiences{
            width: 100%;
        }
        .degree{
            width: 45%;
        }
        .skills{
            width: 45%;
        }
    }
}

//Desk
@media screen and (min-width: $width-desk){
    .allAbout{
        margin: 0 15rem;
    }
}