// -----------------------------------------------

// HOMEPAGE 
.homepage{
    margin: 0 15px;
}

.presentation{
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 4rem;
    h1{
        font-size: 20px;
        color: $color-logo;
    }
    &--media{
        padding: 1rem 0;
        &__icon{
            margin: 0 2rem;
            a{
                text-decoration: none;
                color: black;
                i{
                    font-size: 1.5rem;
                    transition: 0.7s;
                    &:hover{
                        color: $color-logo;
                    }
                }
            }
        }
    }
}

.projects{
    text-align: center;
    &--title{
        h2{
            font-size: 19px;
            color: $color-logo;
            margin: 2rem 0;
        }
        a{  
            border: 1px transparent black;
            border-radius: 10px;
            background-color: $color-nav;
            padding: 10px;
            font-size: 14px;
            transition: 0.7s;
            text-decoration: none;
            color: black;
            &:hover{
                background-color: $color-logo;
            }
        }
    }
    &--presentation{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        &__cart{
            width: 100%;
            margin: 1rem auto;
            &--img{
                width: 100%;
                height: 270px;
            }
        }
    }
}

.meet{
    text-align: center;
    margin-bottom: 2rem;
    h3{
        font-size: 19px;
        color: $color-logo;
        margin: 2rem 0;
    }
    p{
        width: 80%;
        margin: auto;
    }
}

// -----------------------------------------------

.about{
    text-align: center;
    margin: 2rem 0 4rem;
    &--picture{
        width: 80%;
        height: 340px;
        margin: auto;
        &__profile{
            width: 100%;
            height: 100%;
        }
        &__me{
            margin: 0;
            font-style: italic;
        }
    }
}

// -----------------------------------------------

.allProjects{
    margin: 0 15px;
}