// -----------------------------------------------

// HEADER HOMEPAGE

header {
    text-align: center;
    .header--nav{
        text-decoration: none;
        color: black;
        margin: 1rem 0;
        ul{
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            list-style: none;
            a{
                text-decoration: none;
                color: black;
                li{
                    border: 1px transparent black;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: $color-nav;
                    transition: 0.7s;
                    width: 100%;
                    color: white;
                    &:hover{
                        background-color: $color-logo;
                    }
                }
            }
            
        }
    }
    .header--logo{
        width: 90%;
    }
}

// -----------------------------------------------