header {
    .header--logo{
        width: 100%;
    }
    .header--nav{
        text-decoration: none;
        color: black;
        margin-bottom: 2rem;
        ul{
            display: flex;
            justify-content: space-evenly;
            padding: 0;
            list-style: none;
            a{
                text-decoration: none;
                color: black;
                li{
                    border: 1px transparent black;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: rgb(173, 173, 173);
                    transition: 0.7s;
                    &:hover{
                        background-color: $color-logo;
                    }
                }
            }
            
        }
    }
}