// -----------------------------------------------

// HEADER HOMEPAGE

header {
    text-align: center;
    margin: 0 15px;
    .header--nav{
        color: black;
        margin: 1rem 0;
        ul{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
            list-style: none;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: black;
                li{
                    border: 1px transparent black;
                    border-radius: 10px;
                    padding: 9px;
                    background-color: $color-nav;
                    transition: 0.7s;
                    color: white;
                    font-weight: bold;
                    &:hover{
                        background-color: $color-logo;
                    }
                }
            }
            
        }
    }
    .header--logo{
        width: 90%;
    }
}

// MEDIA QUERIES 

//Tablet
@media screen and (min-width: $width-tablet){
    header{
        display: flex;
        flex-wrap: wrap;
        margin: 0 3rem;
        .header--nav{
            order: 2;
            width: 100%;
            ul{
                justify-content: space-evenly;
            }
        }
        .header--logo{
            width: 80%;
        }
    }
}

//Laptop
@media screen and (min-width: $width-laptop){
    header{
        .header--redirection{
            width: 100%;
            .header--logo{
                width: 70%;
            }
        }
    }
}

//Desk
@media screen and (min-width: $width-desk){
    header{
        margin: 0 10rem;
        .header--nav{
            ul{
                justify-content: space-evenly;
            }
        }
        .header--redirection{
            .header--logo{
                width: 60%;
            }
        }
    }
}
// -----------------------------------------------
