// ALL IMPORTANTS COLORS 

$color-logo: rgb(77, 92, 254);
$color-nav: #0045F8;

body, html{
    margin: 0;
    padding: 0;
    font-family: 'GothamPro', sans-serif;
}

// Media Queries 

$width-tablet: 426px; 
$width-laptop: 769px;
$width-desk: 1025px;